header.header
    .container-logo
        a(href="#")
            img(src='imagenes/logo-separado.png')
        a(href="#")            
            img(src='imagenes/kioshi.png')
    .container-sociales
        ul.seccion-sociales
            li
                a(href="#")
                    i.fa.fa-facebook.fa-lg(aria-hidden='true')
            li
                a(href="#")
                    i.fa.fa-twitter.fa-lg(aria-hidden='true')
    nav
        ul.seccion-menu
            li 
                a(href="#") inicio
            li 
                a(href="#promociones") nuestra carta
            li 
                a(href="#") contacto

.container-portada
    .header-portada
    .imagen-frase
        .container-texto
            h2 ¿Listo para ordenar?
        img.portada(src="imagenes/portada.jpg")
        .imagen-deslizada
            a(href="#promociones")
                p PIDE AHORA
                img.deslizar(src="imagenes/discovery.png")
div.promociones
    .conteiner-promociones
        .titulo
            .texto
                a.ancla(name="promociones") 
                    h3 PROMOCIONES
        .subrayado
            .texto
                h3
        section.section
            .section-1
                img(src="imagenes/section3.jpg")
            .section-1
                img(src="imagenes/section4.jpg")
            .section-1
                img(src="imagenes/section5.jpg")
    .barra-1
        span Invitar sushi a alguien es decir que lo amas
    .barra-2
        