header.header
    .container-logo
        a(href="#")
            img(src='imagenes/logo-separado.png')
        a(href="#")            
            img(src='imagenes/kioshi.png')
    .container-sociales
        ul.seccion-sociales
            li
                a(href="#")
                    i.fa.fa-facebook.fa-lg(aria-hidden='true')
            li
                a(href="#")
                    i.fa.fa-twitter.fa-lg(aria-hidden='true')
    nav.nav-menu#menu
        ul.seccion-menu
            li
                a(href="#") conectarse
            li 
                a(href="#inicio") inicio
            li 
                a(href="#promociones") nuestra carta
            li 
                a(href="#contacto") contacto
    span
        i.burguer.fa.fa-bars(aria-hidden='true')
.container-portada#inicio
    .header-portada
    .imagen-frase
        .container-texto
            h2 ¿Listo para ordenar?
        img.portada(src="imagenes/portada.jpg")
        .imagen-deslizada
            a(href="#promociones")
                p PIDE AHORA
                img.deslizar(src="imagenes/discovery.png")
div.promociones
    .conteiner-promociones
        .titulo
            .texto
                a#promociones
                    h3 PROMOCIONES
        .subrayado
            .texto
                h3
        section.section
            .section-1
                img(src="imagenes/section3.jpg")
            .section-1
                img(src="imagenes/section4.jpg")
            .section-1
                img(src="imagenes/section5.jpg")
    .barra-1
        span Invitar sushi a alguien es decir que lo amas
    .barra-2
footer.footer#contacto
    section.section
        .section-footer
            .logo-footer
                img(src='imagenes/logo-separado-2.png')
                img(src='imagenes/kioshi-footer-2.png')
            .container-texto
                p El propósito de Kyoshi Sushi Bar & Grill está orientado a cumplir con sus expectativas en cualquier momento, brindando en nuestro servicio de DELIVERY la mejor calidad y frescura de los productos y una minuciosa presentación que lo agasajará a usted y/o a sus invitados.
                p
            .conteiner-telefono
                ul
                    li    
                        a(href='#') 
                            i.fa.fa-map-marker(aria-hidden='true')
                            span UBICANOS
                    li
                        a(href="#") 
                            i.fa.fa-phone(aria-hidden='true')
                            span 920 093 400 
                            
        .section-footer
            h3 contactanos
            span escribe aqui todas sus consultas
            form
                imput(type="text")
                input(type="text")
                input(type="text")
                imput(type="textarea")
    .container-copyrigth
        .footer-copyrigth
            span © Kyoshi Sushi Bar & Grill - TODOS LOS DERECHOS RESERVADOS 2017
            container-sociales
                ul.seccion-sociales
                    li
                        a(href="#")
                            i.fa.fa-facebook.fa-lg(aria-hidden='true')
                    li
                        a(href="#")
                            i.fa.fa-twitter.fa-lg(aria-hidden='true')
            