.footer{
    width:100%;
    background: #181818;
    color: white;
    
    section{
        max-width: 1140px;
        margin: 0 auto;
        width: 100%;
        padding: 127px 15px 0 15px;
        margin:0 auto;
        display: flex;
        .section-footer{
            height: 615px;
            width: inherit;
            border: 1px solid white;
            .logo-footer{
                height: 60px;
                margin-bottom: 40px;
                img{
                    height: 50px;
                    width:inherit;
                }
            }
            .container-texto{
                width: 450px;
                p{
                    line-height: 24px;
                    padding: 0 0 17px 0;
                    letter-spacing: .1px;
                    margin-bottom: 5px;
                    color: #696969;
                    font-size: 15px;
                    font-family: 'Crimson Text', serif;
                }
            }
            .conteiner-telefono{
                padding-right: 20px;
                ul{
                    padding: 0;
                    li{
                        margin-bottom:15px;
                        a{
                            display: flex;
                            i{
                                color:#383838;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 31px;
                                height: 31px;
                                border: 1px solid #222;
                                margin-right: 20px;
                                &:hover{
                                    color:#fff;
                                }
                            }
                            span{
                                font-family: 'Montserrat', sans-serif;
                                color: #fff;
                                font-size: 10px;
                                line-height: 24px;
                                letter-spacing: 2px;
                                display: flex;
                                align-items: center;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
    .container-copyrigth{
        padding: 0 15px;
        height: 90px;
        max-width: 1140px;
        margin: 0 auto;
        .footer-copyrigth{
            display: flex;
            align-items: center;
            border: 1px white solid;
            height: inherit;
        }
    }
}