.footer{
    width:100%;
    background: #181818;
    color: white;
    
    section{
        max-width: 1140px;
        margin: 0 auto;
        width: 100%;
        padding: 127px 15px 0 15px;
        margin:0 auto;
        display: flex;
        @media screen and (max-width: 1199px) {
            max-width: 940px;
        }
        @media screen and (max-width: 998px) {
            max-width: 720px;
        }
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            margin-bottom: 100px;
        }
        .section-footer-1{
            height: 650px;
            width: inherit;
            .logo-footer{
                height: 60px;
                margin-bottom: 40px;
                img{
                    height: 50px;
                    width:inherit;
                }
            }
            .container-texto{
                    width: 457px;
                @media screen and (max-width: 1199px) {
                    width: 374px;
                }
                @media screen and (max-width: 998px){
                    width: 282px;
                }
                @media screen and (max-width: 767px) {
                    width:100%;
                }
                p{
                    line-height: 24px;
                    padding: 0 0 17px 0;
                    letter-spacing: .1px;
                    margin-bottom: 5px;
                    color: #696969;
                    font-size: 15px;
                    font-family: 'Crimson Text', serif;
                    text-align: justify;
                }
                .subrayado{
                padding-top: 15px;
                margin-bottom: 40px;
                border-bottom: 4px solid white;
                width: 30px
                }
            }
            .conteiner-telefono{
                padding-right: 20px;
                width: 158px;
                ul{
                    padding: 0;
                    li{
                        margin-bottom:15px;
                        a{
                            display: flex;
                            i{
                                color:#383838;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 31px;
                                height: 31px;
                                border: 1px solid #222;
                                margin-right: 20px;
                                &:hover{
                                    color:#fff;
                                }
                            }
                            span{
                                font-family: 'Montserrat', sans-serif;
                                color: #fff;
                                font-size: 10px;
                                line-height: 24px;
                                letter-spacing: 2px;
                                display: flex;
                                align-items: center;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
        .section-footer-2{
            height: 650px;
            width: inherit;
            border-left: 1px solid #222;
                @media screen and (max-width: 767px) {
                    padding-top: 80px;
                    border-top: 1px solid #222;
                    border-left: none;
                }
            .footer-formulario{
                padding-left: 97px;
                margin-right: 15px;
                @media screen and (max-width: 767px) {
                    padding-left: 0;
                }
                h3{
                    font-family: 'Montserrat', sans-serif;
                    color: #fff;
                    margin-top: 0;
                    letter-spacing: 4px;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    text-transform: uppercase;
                }
                .subrayado{
                    padding-top: 15px;
                    border-bottom: 4px solid white;
                    width: 30px;
                    margin-bottom: 40px;
                }
                span{
                    font-size: 18px;
                    font-style: italic;
                    line-height: 24px;
                    color: #696969;
                }
                form{
                    padding-top: 70px;
                    p{
                        input{
                            width: 100%;
                            height: 46px;
                            line-height: 44px;
                            border: 1px solid #222;
                            background-color: transparent;
                            font-size: 12px;
                            color: #585858;
                            font-style: italic;
                            padding: 0 18px;
                            margin: 7.5px 0;
                        }
                        textarea{
                            width: 100%;
                            height: 194px;
                            line-height: 44px;
                            border: 1px solid #222;
                            background-color: transparent;
                            font-size: 12px;
                            color: #585858;
                            font-style: italic;
                            padding: 0 18px;
                            margin: 7.5px 0; 
                        }
                        .submit{
                            color: #585858;
                            font-size: 12px;
                            line-height: 37px;
                            padding: 0 22.5px;
                            letter-spacing: 2px;
                            border: 2px solid #222;
                            background: transparent;
                            text-transform: uppercase;
                            font-family: 'Montserrat', sans-serif;
                            cursor: pointer;
                            width: 184px;
                            &:hover, &:active{
                                background: #222222;
                            }
                        }
                    }
                }
            }
        }
    }
    .container-copyrigth{
        border-top: 0.5px solid #222;
        padding: 0 15px;
        height: 90px;
        max-width: 1140px;
        margin: 0 auto;
        .footer-copyrigth{
            display: flex;
            align-items: center;
            height: inherit;
            span{
                flex: 1;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #696969;
                font-size: 9px;
                line-height: 24px;
                font-family: 'Montserrat', sans-serif;
                }
            }
            .footer-sociales{
                    .seccion-sociales{
                        display: flex;
                        li{
                            i{
                                color: #696969;
                                &:hover{
                                color:#fff;
                                }
                            }   
                        }
                        li:first-child{
                        padding-right: 15px;
                        margin-right: 15px;
                        border-right: 2px solid #696969;
                        }
                    }     
            }
    }
}