.header{
    display: flex;
    align-items: center;
    height: 96px;
    padding: 0 20px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index:1000;
    border-bottom: 1px solid #e2e2e2; 
    .container-logo{
        flex: 1.5;
        display: flex;
        justify-content: space-around;
        img{
            height:50px;
        }
    }   
    .container-sociales{

        .seccion-sociales{
            flex:2;
            display: flex;

            li{
                padding: 0 20px 0 20px;
                border-left: 1px solid black;
            }
            li:first-child{
                padding: 0 20px 0 0;
                border: none;
            }
        }
    }
    .nav-menu{
        flex:10;
        .seccion-menu{
            display: flex;
            justify-content: flex-end;
            li{
                margin: 0 auto;
                padding:0 5px;
                a{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 12px;
                    text-transform: uppercase;
                    line-height: 25px;
                    letter-spacing: 2px;
                }
            }
        }
    }
    span{
        width:40px;
        border-radius: 50%;
        line-height: 40px;
        height: 40px;
        cursor: pointer;
        color: black;
        display: none;
    }
}

@media screen and (min-width: 999px){ 
    .nav-menu{
        display: block !important;
    }
}

@media screen and (max-width: 998px){
    .header{
        .nav-menu{
            display: none;
            z-index:100; 
            font-weight:bold; 
            font-size:0.8em;
            width:30%; 
            background:#f1f1f1;  
            position:absolute; 
            text-align:center; 
            top: 100%;
            right:0;
            font-size:12px;
            max-width: 300px;
            .seccion-menu{
                display:flex;
                align-items:center;
                flex-wrap:wrap;
                margin: 0; 
	            padding: 0; 
	            list-style-type: none; 
                list-style-image: none;
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100px;
                    width: 300px;
	                border-bottom:#dddddd 1px solid;
                }    
            }
        }
        .container-sociales{
            flex:10 ;
            .seccion-sociales{
                justify-content: flex-end;
            }
        }
        span{
            display:block;
        }
    }
}
